<style>
    body {
    background-image: url("https://i.imgur.com/TAOkCxW.png");
   
  }
  h1{
    color: orange;
  }
  h2{
    color: orange;
  }
  h3{
    color: orange;
  }
  
  </style>
<body>
    <h1><%= teams.team %></h1></a>

    <a href="/nfl/<%= teams._id%>/edit"><button>Edit</button></a>
    <a href="/nfl/"><button>Back</button></a>

    <form action="/nfl/<%=teams._id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
    <div class="name-this">
        <img src="<%= teams.image %>" class="name-this"
        />
      </a>

    <a href="/nfl/<%= teams._id%>">
       
        
        <h2><%= teams.location %></h2></a>
       <h3>Franchise Age : <%= teams.yearsAsFranchise %></h3></a>
       

    

        <!-- <div class="name-this"><%= teams.id %></div> -->
        <div class="name-this"><%= teams.name %></div>
  
    
    </body>