<style>
    body {
    background-image: url("https://i.imgur.com/TAOkCxW.png");
   
  }
  h1{
    color: brown;
  }
  h2{
    color: brown;
  }
  h3{
    color: brown;
  }
  
  </style>
<body>

    <h1>Teams</h1>

    <a href="/nfl/<%= teams._id%>/edit"><button>Edit</button></a>
    <a href="/nfl/"><button>Back</button></a>

    <form action="/nfl/<%=teams._id%>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>

    <a href="/nfl/<%= teams._id%>">
        <h2><%= teams.location %></h2></a>
        <h3><%= teams.team %></h3></a>
       
    <div class="name-this">
        <img src="<%= teams.image %>" class="name-this"
        />
      </a>

        <div class="name-this"><%= teams.id %></div>
        <div class="name-this"><%= teams.name %></div>
  
    
    </body>